// Place all the styles related to the Api::Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-channel-messages-container{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  justify-content: flex-end;
  flex-direction: column;
  &::-webkit-scrollbar{
    background-color: transparent;
  }
  p{
    margin: 5px 0;
  }
}

.message-container{
  box-sizing: border-box;
  width: 95%;
  margin: 0 10px;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 1px solid #3e4146;
  padding: 10px 0;
  overflow-wrap: break-word;
}

.message-inner-container{
  display: flex;
  flex-direction: column;
}

.message-header{
  display:flex;
  align-items: center;
  p{
    color: #fffff9;
    font-size: 14px;
  }
}

.message-creation{
  font-family: arial;
  font-size: 14px;
  color: #5d5f5e;
  margin-left: 5px;
}

.message-body{
  color: #a9acba;
  font-size: 14px;
}
