#main-container{
  min-height: 175px;
  background-color: #2C2F33;
  overflow:hidden;
  width: 100vw;
  height: 100vh;
  color: white;
  display:flex;
  font-size: 18px;
  justify-content: flex-start;
}

.nav{
  width: 55px;
  background-color: rgb(32, 34, 37);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: arial;
  overflow-x: hidden;
}

.server-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y:scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.server-item{
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: rgb(47, 49, 54);
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  p{
    width: 100%;
    margin: 0;
  }
  &:hover{
    animation-name: border-jiggle;
    animation-duration: .5s;
    background-color: #7289DA;
    border-radius: 30%;
  }
  &>a{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.server-line{
  display:block;
  width: 30px;
  height: 1.5px;
  background-color: rgb(47, 49, 54);
}

.active-server{
  background-color: #7289DA;
  border-radius: 30%;
}

.server-form-button{
  border: 1px dashed rgba(87, 89, 93, 0.992);
  background-color: rgb(30, 33, 36);
  color: rgba(87, 89, 93, 0.992);
  transition: border .3s, color .3s;
  transition-timing-function: ease-out;
  border-radius: 50%;
  height: 40px; width: 40px;
  display:flex;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
  cursor: pointer;
  p{
    font-size: 30px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  &:hover{
    color: lightgrey;
    border: 1px dashed lightgrey;
  }
}

.end-list-line{
  display:block;
  margin-bottom: 20px;
  width:30px;
  height: 2px;
  background-color: rgba(87, 89, 93, 0.992);
}

@keyframes border-jiggle {
  0% { border-radius: 50%; }
  50% { border-radius: 30%; }
  75% { border-radius: 35%; }
  100% { border-radius: 30%; }
}
