.text-channel-list-container{
  margin-top:7px;
  height: 100%;
  background-color: #2f3136;
  width: 100%;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 5px;
    padding: 5px;
    background-color: transparent;
  }
  &:hover{
    overflow-y: auto;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #26282d;
    margin: 0 3px;
    border-radius: 3px;
  }
}

.text-channel-list{
  display: flex;
  height: calc(100% - 130px);
  overflow-x: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.text-channel-item{
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  width: 215px;
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 5px auto;
  justify-content: space-between;
  color: #6c757c;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover{
    background-color: #42464d;
    border-radius: 3px;
  }
  a{
    height: 30px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
  }
  &:hover a {
    color: #dcddde;
  }
  .fa-cog{
    cursor: pointer;
    padding: 0 5px;
    display: none;
    &:hover{
      color: #dcddde;
    }
  }
  &:hover .fa-cog{
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 100%;
  }
  i{
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 100%;
  }
  span{
    max-width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.active-text-channel{
  background-color: #42464d;
  border-radius: 3px;
  .fa-cog{
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 100%;
  }
}

.text-channel-form-container{
  animation: big-small .20s;
  width: 100vw;
  height: 100vh;
  background-color: #36393f;
  background-image: asset-url('channel-form-minion.png');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: bottom right;
  p{
    margin: 0;
  }
}
.text-channel-form-inner-container{
  display: flex;
  justify-content: flex-start;
  min-width: 890px;
  height: 100%;
}


.text-channel-form-side-bar-container{
  min-width: 230px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #2f3136;
}

.text-channel-form-side-bar-inner-container{
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 25px;
  padding-right: 10px;
}

.text-channel-form-side-bar-details{
  display: flex;
  align-items: center;
  width: 220px;
  color: #575a60;
  font-family: 'Ubuntu', sans-serif;
  p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #72757c;
    text-transform: uppercase;
    margin: 0 3px;
  }
  i{
    font-size: 12px;
  }
  span{
    color: #575a60;
    font-size: 12px;
  }
}

.text-channel-form-side-bar-options{
  p{
    color: #b8babd;
    padding: 10px 5px;
    width: 100%;
    margin: 10px;
    font-family: arial;
  }
  padding: 0 10px;
  border-bottom: 1px solid #43454b;
}

.selected{
  background-color: #7188db;
  border-radius: 5px;
  p{
    color: white;
  }
}



.text-channel-form-main-container{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
}

.text-channel-form-main-inner-container{
  min-width: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  h1{
    color: #f6f6f7;
    font-size: 16px;
  }
  label{
    color: #b9bbbe;
    font-size: 14px;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  input{
    color: #f5f5f6;
    background-color: #303339;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    margin-left: 3px;
    font-size: 14px;
  }
}

.text-channel-form-exit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  color: #72757c;
  font-family: sans-serif;
  button{
    color: #dcddde;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #72757c;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &:hover{
      background-color: #484b51;
    }
  }
  &>p{
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
  }
}


.text-chanel-edit-button{
  display: none;
}

@keyframes big-small{
  from {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}

@media (min-width: 1000px) {
  .text-channel-form-inner-container{
    justify-content: center;
  }
  .text-channel-form-side-bar-container{
    width: calc(100% - 700px);
  }
  .text-channel-form-main-container{
    width: calc(100% - 100px);
  }
}
