.third-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.third-nav{
  background-color: #36393f;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,.2),
  0 2px 0 rgba(0,0,0,.06);
}

.channel-components{
  display:flex;
  justify-content: space-between;
  height: 100%;
}

.server-user-index-container{
  height: 100%;
  background-color: #2f3136;
}

.textchannel-container{
  height:100%;
  width: 100%;
  min-width: 1px;
  background-color: #37393e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.textchannel-form-container{
  align-self: flex-end;
}

.server-user{
  &-index-container{
    width: 240px;
    min-width: 240px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
    color: #acadaf;
    font-size: 16px;
    &::-webkit-scrollbar{
      position:absolute;
      display: hidden;
    }
    &:hover &::-webkit-scrollbar{
      display: block;
    }
  }
  &-heading{
    text-align: left;
    width: 165px;
    padding: 0 30px;
    margin: 30px 0 10px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #828384;
  }
  &-index-inner-container{
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &-item{
    width: 100%;
    cursor: pointer;
    padding: 5px 16px 5px 30px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      background: linear-gradient(to right, #282b30 75%, transparent);
      color: #f8f5f9;
    }
    &>p{
      text-align: left;
      font-size: 14px;
      margin: 0 20px;
      margin-left: 15px;
      padding: 10px 0;
    }
  }
}
